nav {
  display: flex;
  align-items: center;
  background-color: var(--header-background);
  height: 4rem;
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  gap: 2rem;
  box-shadow: 7px 6px 28px -18px rgba(0, 0, 0, 0.76);
}

.blogNameLink {
  margin-right: auto;
}

.blogName {
  font-size: 2rem;
  appearance: none;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.navBtn {
  appearance: none;
  border: none;
  background: transparent;
  font-size: 1.4rem;
  color: white;
}

.navBtn:hover,
.blogName:hover {
  text-decoration: underline;
  cursor: pointer;
}
