.viewBtn {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  appearance: none;
  text-decoration: none;
  padding: 0.3rem;
  background-color: rgb(124, 7, 143);
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}

.publishBtn,
.unpublishBtn {
  appearance: none;
  border: none;
  width: 5rem;
  font-weight: bold;
}

.publishBtn {
  background-color: rgb(69, 178, 69);
  color: white;
}

.unpublishBtn {
  background-color: rgb(79, 73, 73);
  color: white;
}

.deleteBtn,
.editBtn {
  appearance: none;
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
}

.deleteBtn {
  background-color: rgb(186, 14, 14);
}

.editBtn {
  background-color: rgb(93, 153, 177);
  text-decoration: none;
  padding: 0.3rem;
  font-size: 0.9rem;
}

.editBtn:active,
.viewBtn:active {
  transform: translateY(4px) translateX(4px);
  transition: 100ms ease-in-out;
}

.buttonsDiv {
  display: flex;
  margin-left: auto;
  gap: 0.5rem;
}

.buttonsDiv button {
  cursor: pointer;
  font-size: 0.9rem;
}

/* Styling from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
table {
  flex-direction: column;
  border-collapse: collapse;
  font-size: 0.9em;
  width: 70%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
}

table thead tr {
  background-color: var(--header-background);
  color: #ffffff;
  text-align: left;
}

table th {
  padding: 12px 15px;
}

table td {
  padding: 5px 20px;
  font-size: 1rem;
}

table h1,
table h2,
table h3,
table h4,
table h5,
table h6 {
  font-size: 1rem;
}

.contentData {
  overflow: hidden;
}

table tbody tr {
  border-bottom: 1px solid #dadada;
}

table tbody:nth-of-type(even) {
  background-color: #ffffff;
}

table tbody:nth-of-type(odd) {
  background-color: #ebebeb;
}

table tbody tr:last-of-type {
  border-bottom: 1px solid #454545;
}

table ul {
  padding-left: 1rem;
}

@media (max-width: 650px) {
  th {
    display: none;
  }

  td {
    display: block;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: bold;
    text-transform: capitalize;
  }
}
